// TODO: Make cell input same size as cell to avoid misclicks?

@import url('https://fonts.googleapis.com/css?family=Delius+Unicase');

$boardBackgroundColor: #ebe6da;
$fixedValueBackground: #bcbdb6;
$white: #fff;
$borderColor: #333;
$cellWidth: 5em;
$cellHeight: 5em;

* {
    font-size: 1em;
}
i {
    font-size: 0.8em;
    color: red;
}

.sudokuBoard {
    background-color: $boardBackgroundColor;
    width: $cellWidth * 9;
}

.sudokuCell {
    width: $cellWidth;
    height: $cellHeight;
    border: 1px solid $borderColor;
    display: inline-block;
    padding: 0;
}

.sudokuValue {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: 'Delius Unicase', cursive;
}

.sudokuRow {
    border-top: 1px solid $borderColor;
}

.sudokuRow:first-of-type {
    border-top: 5px solid $borderColor;
}

.sudokuRow:last-of-type,
.sudokuRow:nth-of-type(3),
.sudokuRow:nth-of-type(6) {
    border-bottom: 5px solid $borderColor;
}

.sudokuCell:first-of-type {
    border-left: 5px solid $borderColor;
}

.sudokuCell:last-of-type,
.sudokuCell:nth-of-type(3),
.sudokuCell:nth-of-type(6) {
    border-right: 5px solid $borderColor;
}

.sudokuCell:hover .sudokuInput,
.sudokuCell:hover,
.sudokuInput:focus {
    background-color: $white;
}

.sudokuCell:hover .sudokuInputDisabled {
    background-color: $fixedValueBackground;
}

.fixedValue,
.fixedValue input {
    background-color: $fixedValueBackground;
}

.fixedValue input,
.userValue input {
    border: none;
    text-align: center;
}

.sudokuInput,
.sudokuInputDisabled {
    width: $cellWidth / 2.5;
    height: $cellHeight / 2.5;
}

.sudokuInput {
    background-color: $boardBackgroundColor;
}

/*
██████  ██  █████  ██      ██████   █████  ██████
██   ██ ██ ██   ██ ██      ██   ██ ██   ██ ██   ██
██   ██ ██ ███████ ██      ██████  ███████ ██   ██
██   ██ ██ ██   ██ ██      ██      ██   ██ ██   ██
██████  ██ ██   ██ ███████ ██      ██   ██ ██████
*/

.sudokuDialpad {
    position: relative;
}

table.sudokuDialpad {
    background-color: $white;
}

tr.dialpadRow:nth-child(1) > td.dialpadCell {
    padding-top: 1em;
}

tr.dialpadRow:nth-child(3) > td.dialpadCell {
    padding-bottom: 1em;
}

td.dialpadCell:first-of-type {
    padding-left: 1em;
}

td.dialpadCell:nth-of-type(3) {
    padding-right: 1em;
}
