@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Delius+Unicase");
* {
  font-size: 1em; }

i {
  font-size: 0.8em;
  color: red; }

.sudokuBoard {
  background-color: #ebe6da;
  width: 45em; }

.sudokuCell {
  width: 5em;
  height: 5em;
  border: 1px solid #333;
  display: inline-block;
  padding: 0; }

.sudokuValue {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-family: 'Delius Unicase', cursive; }

.sudokuRow {
  border-top: 1px solid #333; }

.sudokuRow:first-of-type {
  border-top: 5px solid #333; }

.sudokuRow:last-of-type,
.sudokuRow:nth-of-type(3),
.sudokuRow:nth-of-type(6) {
  border-bottom: 5px solid #333; }

.sudokuCell:first-of-type {
  border-left: 5px solid #333; }

.sudokuCell:last-of-type,
.sudokuCell:nth-of-type(3),
.sudokuCell:nth-of-type(6) {
  border-right: 5px solid #333; }

.sudokuCell:hover .sudokuInput,
.sudokuCell:hover,
.sudokuInput:focus {
  background-color: #fff; }

.sudokuCell:hover .sudokuInputDisabled {
  background-color: #bcbdb6; }

.fixedValue,
.fixedValue input {
  background-color: #bcbdb6; }

.fixedValue input,
.userValue input {
  border: none;
  text-align: center; }

.sudokuInput,
.sudokuInputDisabled {
  width: 2em;
  height: 2em; }

.sudokuInput {
  background-color: #ebe6da; }

/*
██████  ██  █████  ██      ██████   █████  ██████
██   ██ ██ ██   ██ ██      ██   ██ ██   ██ ██   ██
██   ██ ██ ███████ ██      ██████  ███████ ██   ██
██   ██ ██ ██   ██ ██      ██      ██   ██ ██   ██
██████  ██ ██   ██ ███████ ██      ██   ██ ██████
*/
.sudokuDialpad {
  position: relative; }

table.sudokuDialpad {
  background-color: #fff; }

tr.dialpadRow:nth-child(1) > td.dialpadCell {
  padding-top: 1em; }

tr.dialpadRow:nth-child(3) > td.dialpadCell {
  padding-bottom: 1em; }

td.dialpadCell:first-of-type {
  padding-left: 1em; }

td.dialpadCell:nth-of-type(3) {
  padding-right: 1em; }
